/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML & Body Setup */
html, body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


main{
  height: 100%;
  width: 100%;
  background:linear-gradient(white) ;
}

nav{
  padding: 1.5rem ;
  background-color: rgba(0, 0, 0, 0.885);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1{
  font-size: 25px;
  font-weight: 700 !important;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 500;
}

.element{
  display: flex;
  gap: 2rem;
}


button{
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.405);
  font-size: 15px;
  color: white;
}

button:active {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(0.95);
}

.main-div{
  height: 90.5%;
  width: 100%;
  /* background-color: red; */
  display: flex;
}

.main-part1{
  height: 100%;
  /* background-color: red; */
  width: 15%;
}
.main-part2{
  height: 100%;
  padding: 3rem;
  width: 75%;
  background-color: rgba(128, 128, 128, 0.331);
}
#main-part2{
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.main-part3{
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center
}
#main-part1{
  height: ;
}